@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8E6A0; /* cream */
  color: #1e293b; /* warm dark text */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cursor-blink {
  animation: blink 1s step-end infinite;
}
